@{
	ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Thrown together by these devoted code poets.</p>
<div class="row">
	<div class="col-md-3">
		<img class="img-responsive" src="@Url.Content("~/Content/Images/author.jpg")" alt="Alex Hofer" title="Alex Hofer"/>
		<h4>Alex Hofer</h4>
	</div>
	<div class="col-md-3">
		<img class="img-responsive"src="@Url.Content("~/Content/Images/help.jpg")" alt="Albert Gemoets" title="Albert Gemoets"/>
		<h4>Albert Gemoets</h4>
	</div>
</div>

<p>
	We hope you enjoy the site. Though since it is a site currently in development, there are bound to be issues. <br/>
	If you notice something unusual or out of place drop me a <a href="mailto:ahofer@nerdery.com" target="_top">line</a>. I'll berate you a little bit, but then calm down and probably be very grateful.
</p>